
:root {
  --primary-clr: rgb(17, 17, 17);
  --color2: rgb(248, 125, 125);
  --color3: white;
  --color4: rgb(49, 0, 0);

  --fs-xl: 3rem;
  --fs-600: 1.5rem;
  --fs-500: 1.5rem;
  --fs-400: 1.8rem;
}
  @media (max-width: 1000px) {

    :root {
      --fs-xl: 7rem;
      --fs-600: 3.8rem;
      --fs-500: 3rem;
      --fs-400: 2.6rem;
    }
}



body {
  margin: 0;
  line-height: 1.6;
  background: var(--primary-clr);
  font-family: 'Libre Baskerville', serif;
}

nav {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top:0;
  padding: 0 5%;
  height: 80px;
  background-color: #181818;
  box-shadow: 0 3px 20px rgba(black, 0.2);
}

nav .logo {
  float: left;
  width: 26%;
  height: 100%;
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-size: 44px;
  color: #fff;
  text-decoration: none;
}

nav .links {
float: right;
padding: 0 0;
margin: 0;
width: 45%;
height: 100%;
display: flex;
justify-content: space-around;
align-items: center;
font-family: 'Poppins', sans-serif;
}
nav .links li {
list-style: none;
border-radius: 10%;
background-size: 200px 160px;
align-items: center; 
transition: 0.4s;
}

nav .links li:hover {
background-position: 0 -80px;
}

nav .links a {
display: block;
padding: 1em;
font-size: 16px;
font-weight: bold;
color: #fff;
text-decoration: none;
}
#nav-toggle {
position: absolute;
top: -100px;
}

nav .icon-burger {
display: none;
position: absolute;
right: 5%;
top: 50%;
transform: translateY(-50%);
}

nav .icon-burger .line {
width: 60px;
height: 10px;
background-color: #fff;
margin: 5px;
border-radius: 3px;
transition: all .3s ease-in-out;
}

@media screen and (max-width: 1000px) {

nav {
  height: 120px;
}
nav .logo {
  float: none;
  width: auto;
  justify-content: center;
  font-size: 65px;
  color: white; 
  text-decoration: none;
}
nav .links {
  float: none;
  position: fixed;
  z-index: 9;
  left: 0;
  right: 0;
  top: 100px;
  bottom: 100%;
  width: auto;
  height: auto;
  font-size: 100px;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgba(0,0,0,.8);
  overflow: hidden;
  transition: all .5s ease-in-out;
}
nav .links a{
  font-size: 50px;
}
nav .icon-burger {
  display: block;
}
nav :checked ~ .links {
  bottom: 0;
}
nav :checked ~ .icon-burger .line:nth-child(1) {
  transform: translateY(18px) rotate(225deg);
}
nav :checked ~ .icon-burger .line:nth-child(3) {
transform: translateY(-10px) rotate(-225deg);
}
nav :checked ~ .icon-burger .line:nth-child(2) {
  opacity: 0;
}
}

 .about {
  position: relative;
  margin-top: 5rem;
  color: white;
  text-align: center;
  padding: 10em 0;
  background-image: 
    url(../images/swiss.jpeg),
    radial-gradient( rgb(95, 95, 95), #111);
    background-blend-mode: multiply;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  max-height: 30vh;
  }
  
 .container {
   width: 100%;
   margin: 0 auto;
   max-width: 65em;
   margin-top: 5rem;
 }

 .primary-title {
   color: white;
   font-size: 6rem;
 }

 .secondary-text {
   margin: 1em 2em;
   display: flex; 
   justify-content: center;
   font-size: var(--fs-500);
   text-align: center;
   color:rgb(255, 255, 255);
 }

.text {
  color: var(--color2);
  font-size: var(--fs-400);
  text-align: center;
  margin: 14px 0;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container2 {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(450px, 1fr));
  grid-gap: 20px;
}
.box {
  height: 300px; 
  background:rgb(0, 0, 0);
  border: 3px solid var(--color2);
  border-radius: 80px;
  position: relative;
  margin: 2em;
  margin-bottom: 5em;
  padding: 3rem;
}

.box-img {
  margin: auto auto;
  max-width: 200px;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 1000px) {
  .box {
    display: grid;
    grid-template-rows: 220px 2fr;
    margin-bottom: 4em;
  }
  .contact{
    max-width: 1008px;
  }
}
